.form-upload {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.head-foot-spacing {
    padding-bottom: 51px !important;
    padding-top: 60px !important;
}

.table-responsive {
    /*max-height: 80vh;*/
}
