.form-upload {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-login {
    max-width: 500px;
    padding: 15px;
    margin: 0 auto;
}

.head-foot-spacing {
    padding-bottom: 51px !important;
    padding-top: 60px !important;
}

.table-responsive {
    /*max-height: 80vh;*/
}

span.avoidwrap {
    display: inline-block;
}

#ui-datepicker-div {
    z-index: 5 !important;
}

.select2-container--bootstrap .select2-selection {
    /*display: block;*/
    width: 100%;
    min-height: 43px;
    padding: 5px 10px;
    font-size: 15px;
    line-height: 1.42857143;
    color: #333333;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #cccccc;
    border-radius: 0;
}
